body{
    margin: 0px;
}
h1,
h2 {
    color: #01689b;
}
h3{
    margin-left: 5%;
    font-size: 20px;
}

.logo {
    
    top: 0px;
    padding-left: 45%;
    padding-bottom: 0%;
    margin-top: 0px;
    padding-top: 0px;
}

main {
    position: relative;
    top: 100px;

}

#nav-bar {

    height: 60px;
    background-color: #01689b;
    position: relative;
    top: 18px;
}

.nav-bar {
    color: white;
    position: relative;
    top: 15px;
    list-style: none;
    display: inline-block;
    background-color: #01689b;
    font-family: sans-serif;




}

.nav-bar:nth-child(1) {
    width: 35%;
    font-size: 25px;
}

.nav-bar:nth-child(n+2) {
    width: 10%;
    font-size: 17px;
}

.photo-list {
    font-size: 18px;
    font-family: sans-serif;
    color: #01689b;
    position: absolute;
    top: 37%;
    background-color: white;
    line-height: 2em;
    width: 400px;
    margin-left: 25px;
    margin-bottom: 0px;
}


.main-photo {

    width: 100%;
    height: 300px;

}

#main-list {
    margin-top: -4px;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.main-list {
    list-style: none;
    width: calc(25% - 50px);
}

#second-list {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.second-list {
    width: calc(33% - 50px);


}

.second-list img {
    width: 100%;
}

#third-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.third-list {
    width: calc(33% - 50px);

}

h2 strong {
    color: black;
    margin-left: 60px;
}

.top-section {
    margin: 0px 50px;
    border-top: 0.5px solid grey;
}

#fourth-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start ;
    list-style: none;
}

.fourth-list {
    width: 25%; 
    font-size: 30px;
    text-align: center;
    border:4px solid grey ;
    margin-left: 45px;
}
.fourth-list:nth-child(1) span{
    font-size: 40px;
    line-height: 1.5em;
    color: #01689b;
   
}
bottom-part{
    color: black;
}

.fourth-list:nth-child(2) span{
    color: blueviolet;
} 
.bottom-section{
   background-color: #01689b; 
}
.left-side{
    color: white;
    float: left;
    font-size: 30px;
    padding-left: 2%;
}
table{
    padding:5% 2%;
    line-height: 2em;
      color: white;
    margin:5% 65% ;
    width:35%;
    text-align: center;
}

 


